*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

pipa_app/messengermodule/build/.transforms/

Android/pipa_app/messengermodule/build/.transforms/

Python/__pycache__/

Python/config/__pycache__/
